.green {
    color: green;
}

.form-control {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.submit {
    background: grey;
    color: white;
    display: block;
    font-size: 13px;
    padding: 5px 10px;
    border: 0;
    cursor: pointer;
}